// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 60,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  #{--front-page-font-size}: $h1-size;

  /* VoogStyle
     "pathI18n": ["content", "text"],
     "titleI18n": "line_height",
     "editor": "rangePicker",
     "min": 0.8,
     "max": 3,
     "step": 0.1,
     "unit": "em",
     "scope": "global"
  */
  #{--front-page-line-height}: 1.05;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--content-links-hover-font-weight"
    ]
  */
  #{--content-links-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--content-links-hover-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--content-links-hover-font-style"
    ]
  */
  #{--content-links-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--content-links-hover-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--content-links-hover-text-decoration"
    ]
  */
  #{--content-links-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--content-links-hover-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--content-links-hover-text-transform"
    ]
  */
  #{--content-links-text-transform}: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--content-links-hover-text-transform}: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  #{--content-links-color}: $link-color;

   /* VoogStyle
    "pathI18n": ["content", "link", "hover"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "scope": "global",
    "featured": "true"
  */
  #{--content-links-hover-color}: rgba($link-color, .8);

  // scss-lint:enable Comment, Indentation
}
