$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$main-color: #222;
$main-color: rgb(34, 34, 34);

$secondary-color: $color-black;
$secondary-color: $main-color;

$third-color: #848484;
$third-color: rgb(132, 132, 132);

$bg-color: #e5e5e5;
$bg-color: rgb(229, 229, 229);

$link-color: #06b;
$error-color: #c70909;
$success-color: #409e13;

$font-family: "Lato", Helvetica, Arial, sans-serif;
$font-size: 18px;
$font-size-big: 22px;
$h1-size: 36px;
$h2-size: 24px;
$line-height: 1.45;

$site-width: 1024px;
$side-width: 280px;
$side-width-small: 200px;
$content-width: $site-width - $side-width;

$search-width: 300px;

$break-small: 600px;
$break-middle: 1024px;
$break-large: 1500px;
