.product-content {
  display: flex;
  flex-direction: column;

  .without-image .item-top {
    background-image: url('../assets/ico-placeholder.svg');
    background-color: #F2F2F2;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.product-price {
  padding: 8px 0 24px 0;
}

.dark-background {
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-search-input {
    opacity: .7;
  }

  .edy-product-widget-filter-label {
    opacity: .5;
  }
}
